
.header-container{
    flex-direction: row;
    display: flex;
    padding:0 9rem ;
}
.header-text>h1{
    padding-left: 2rem;
    width: 20rem;
    font-family: 'Playfair Display', sans-serif;
    /* font-weight: 100; */
    /* padding-left: .5rem; */
    font-size: 2.5rem;
}
.header-rectangle{
    width:80%;
    height: 2rem;
    background: rgb(255, 34, 34);
    margin-top: .6rem;
    /* margin-left: 1rem; */
}

.card-container-1{
    display: flex;
    padding: 0rem;
    justify-content: space-evenly;
}

.card-customize{
    width: 18rem;
    height: 18rem;
    margin-left: 2rem;
    margin-top: 2rem;
    background-color:#c4c4c4;
    border-radius: 0;
}
.card-container-2{
    justify-content: space-evenly;
    display: flex;
    padding-bottom: 2rem;
}
.card-title{
    font-family: 'Playfair Display', sans-serif;
    color: rgb(255, 34, 34);
    padding-top: 1.5rem;
    
}

.card-title:hover{
    text-decoration: underline;
}

.card-icon{
    font-size:2rem;
    color: rgb(255, 34, 34);
    margin-top: 1.5rem;
    /* margin-left: 1rem; */
}

.card-heading{
    color: black;
}

@media screen and (min-width:300px) and (max-width:350px){
    .header-container{
        flex-direction: row;
        display: flex;
        padding:0rem ;
    }
    
    .header-text>h1{
        padding-top: 1rem;
        padding-left: 2rem;
        width: 13rem;
        font-size: 1.5rem;
    }
    .header-rectangle{
        margin-top: 1rem;
        margin-right: 2rem;
    }

    .card-container-1{
        flex-direction: column;
        padding: 0rem 0rem;
    }
    

    .card-container-2{
        padding: 0rem 0rem;
        flex-direction: column;
        padding-bottom: 4rem;
    }
}

@media screen and (min-width:350px) and (max-width:400px){
    .header-container{
        flex-direction: row;
        display: flex;
        padding:0rem ;
    }
    
    .header-text>h1{
        padding-top: 1rem;
        padding-left: 2rem;
        width: 13rem;
        font-size: 1.5rem;
    }
    .header-rectangle{
        margin-top: 1rem;
        margin-right: 2rem;
    }

    .card-container-1{
        flex-direction: column;
        padding: 0rem 1.7rem;
    }
    

    .card-container-2{
        padding: 0rem 1.7rem;
        flex-direction: column;
        padding-bottom: 4rem;
    }
}

@media screen and (min-width:400px) and (max-width:420px){
    .header-container{
        flex-direction: row;
        display: flex;
        padding:0rem ;
    }
    
    .header-text>h1{
        padding-top: 1rem;
        padding-left: 2rem;
        width: 13rem;
        font-size: 1.5rem;
    }
    .header-rectangle{
        margin-top: 1rem;
        margin-right: 2rem;
    }

    .card-container-1{
        flex-direction: column;
        padding: 0rem 2rem;
    }
    

    .card-container-2{
        padding: 0rem 2rem;
        flex-direction: column;
        padding-bottom: 4rem;
    }
}

 @media screen and (min-width:420px) and (max-width:480px){

    .header-container{
        flex-direction: row;
        display: flex;
        padding:0rem ;
    }
    
    .header-text>h1{
        padding-top: 1rem;
        padding-left: 2rem;
        width: 15rem;
        font-size: 1.8rem;
    }
    .header-rectangle{
        margin-top: 1rem;
        margin-right: 1rem;
    }

    .card-container-1{
        flex-direction: column;
        padding: 0rem 4.2rem;
    }
    

    .card-container-2{
        padding: 0rem 4.2rem;
        flex-direction: column;
        padding-bottom: 4rem;
    }

}

@media screen and (min-width:480px) and (max-width:600px){
    .header-container{
        flex-direction: row;
        display: flex;
        padding:0rem ;
    }

    .header-text>h1{
        padding-top: 1rem;
        padding-left: 2rem;
        width: 15rem;
        font-size: 1.8rem;
    }
    .header-rectangle{
        margin-top: 1rem;
        margin-right: 1rem;
    }

    .card-container-1{
        display: flex;
        padding-right: 1.5rem;
        justify-content: space-evenly;
    }

    .card-container-2{
        display: flex;
        padding-right: 1.5rem;
        justify-content: space-evenly;
    }

    .card-customize{
        overflow: hidden;
        width: 15rem;
        height: 22rem;
        margin-left: 2rem;
        margin-top: 2rem;
        background-color:#c4c4c4;
        border-radius: 0;
    }
    .card-icon p{
        font-size:1.5rem;
        color: rgb(255, 34, 34);
        margin-top: 1.5rem;
    }
    
}
.card-text{
    font-size: 1rem;
    text-align: justify;
    line-height: 1.5;
}

@media screen and (min-width:600px) and (max-width:800px){
    .header-container{
        flex-direction: row;
        display: flex;
        padding:0rem ;
    }

    .header-text>h1{
        padding-top: 1rem;
        padding-left: 2rem;
        width: 15rem;
        font-size: 1.8rem;
    }
    .header-rectangle{
        margin-top: 1rem;
        margin-right: 1rem;
    }

    .card-container-1{
        display: flex;
        padding-right: 1.5rem;
        justify-content: space-evenly;
    }

    .card-container-2{
        display: flex;
        padding-right: 1.5rem;
        justify-content: space-evenly;
    }

    .card-customize{
        width: 15rem;
        height: 21rem;
        margin-left: 2rem;
        margin-top: 2rem;
        background-color:#c4c4c4;
        border-radius: 0;
    }
    

    
}

@media screen and (min-width:800px) and (max-width:1000px){
    .header-container{
        flex-direction: row;
        display: flex;
        padding:0rem ;
    }

    .header-text>h1{
        padding-top: 1rem;
        padding-left: 2rem;
        width: 15rem;
        font-size: 1.8rem;
    }
    .header-rectangle{
        margin-top: 1rem;
        margin-right: 1rem;
    }

    .card-container-1{
        display: flex;
        padding-right: 1.5rem;
        justify-content: space-evenly;
    }

    .card-container-2{
        display: flex;
        padding-right: 1.5rem;
        justify-content: space-evenly;
    }

    .card-customize{
        width: 18rem;
        height: 18rem;
        margin-left: 2rem;
        margin-top: 2rem;
        background-color:#c4c4c4;
        border-radius: 0;
    }
    
}