@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.bike-services{
    height: 100vh;
    width: 100vw;
    
}

.bikes{
    height: 100%;
    width: 100%;
    background-image:url("https://images.unsplash.com/photo-1592222166121-93437e78d8d0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8YmlrZSUyMHJlcGFpcnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 5rem;
    /* margin-left: 50rem; */
}
.block-container{
    height: 10rem;
    width: 61rem;
    background-color:rgb(255, 37, 37);
    
    
}
.container-text{
    font-family: 'Playfair Display', serif;
    padding-top: .6rem;
    padding-left: 2rem;
    font-size: 1rem;
}
.text-paragraph{
    color: white;
    font-size:1.5rem;
    font-family: 'Playfair Display', sans-serif;
    font-weight: -200;
    margin-top: 5rem;
}


.combine-container{
    margin-left: 35rem;
}

.final-button>button{ 
    font-family: 'Playfair Display', serif;
    color: white;
    margin-left: 0;
    border-radius: 0;
    font-size: 1.5rem;

}